@import 'slider'

.features
  position: relative
  margin-top: 41px
  height: 330px
  text-align: center
  color: $white
  &::after
    content: ""
    position: absolute   
    width: 100%
    height: 12vw
    background: url('../img/triangle-nov2.svg') no-repeat bottom
    background-size: cover
    left: 0
    bottom: -12vw

  

.features__image
  +margin-auto
  width: 95px
  height: 95px

.features__title
  font-weight: bold
  text-transform: uppercase
  font-size: 30px

.features__description
  margin-top: -15px
  padding: 0 13vw
  font-size: 20px

