.header
  width: 100%
  background-color: $grey
  &__logo
    display: block
    padding-top: 29px
    padding-left: 7px
    width: 100%
    height: 66px
    text-align: center

  &__nav

    
    &-wrapper
      margin-top: 19px
      background-color: $accent

    &-list
      +reset-list
      display: flex
      flex-direction: column
      margin-top: 10px
    
    &-item
      +reset-link
      padding: 19px 130px
      color: $white
      text-transform: uppercase
      font-weight: 700
      text-align: center

      
   
