@import 'vars'
@import 'fonts'
@import 'mixins'
@import 'libs/libs'

*,
*:before,
*:after
	box-sizing: border-box
	outline-color: $accent-dark



::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	position: relative
	margin: 0 auto
	
	font-size: 18px
	max-width: 320px
	height: 2327px
	
	line-height: 27px
	font-family: $default-font
	font-weight: bold
	color: $text


@import 'blocks/header/_header'
@import 'blocks/header/_nav'
@import 'blocks/header/_hamburger'
@import 'blocks/header/_logo'


	
