.form
  padding-top: 32px
  // width: 320px
  height: 1600px
  background-color: #f8f5f2

.form__header
  display: none

.form__headline
  font-size: 30px
  font-weight: bold
  text-transform: uppercase
  display: none

.form__contacts
  border: none

.form__text
  margin-bottom: 5px
  padding: 10px
  width: 100%
  font-family: $default-font  
  font-size: 18px
  border: 1px solid #e5ddd5
  resize: none
  &:focus
    border-color: lighten($accent, 25%)
  &::placeholder
    color: #000000
  &:nth-child(3)
    margin-bottom: 32px
  &:nth-child(5)
    margin-bottom: 32px

.form__radio
  border: none

.form__radio-title
  text-align: center
  text-transform: uppercase
  font-size: 20px

.form__radio-buttons
  +reset-list
  margin-top: 60px
  display: flex
  justify-content: space-around
  flex-wrap: wrap

.form__radio-button
  margin-bottom: 55px
  margin-right: 15px
  margin-left: 15px
  position: relative
  width: 64px
  text-align: center
  &>input
    // display: none
.form__radio-label
  position: relative
  display: block
  width: 64px
  &::before
    position: absolute
    content: ""
    display: block
    width: 50px
    height: 50px
    border: 1px solid #e5ddd5
    border-radius: 50%
    background-color: $white
    top: -50px
    left: 6px
  // &::before + input[type="radio"]:checked
  //   box-shadow: inset 0 0 0 15px #ffffff, inset 0 0 0 16px #e5ddd5
  
input[type="radio"]:checked + .form__radio-label::before
  box-shadow: inset 0 0 0 15px #ffffff, inset 0 0 0 16px darken(#e5ddd5, 5%)

.form__radio-image
  // display: block
  


@media ( min-width: $tablet )
  @import 'form--tablet'

@media ( min-width: $desktop )
  @import 'form--desktop'