.nav
  margin-top: 19px

.nav__inner
  position: relative
  background-color: $black

.nav__list
  +reset-list
  display: flex
  flex-direction: column

.nav__item
  +reset-link
  +reset-mobile-active
  position: relative
  display: none
  padding: 11.4px 21.2px 
  padding-right: 0
  color: $white
  text-transform: uppercase
  font-weight: 700
  background-color: $accent
  border-bottom: 1px solid #71543f
  &:active
    background-color: $accent-dark

.nav__item--active
  display: block
  padding-left: 0
  text-align: center
  cursor: default
  &:active
    background-color: $accent

.nav__item--visible
  display: block
  padding: 11.4px 21.2px 
  padding-right: 0
  text-align: left

.nav__item--active.nav__item--visible
  color: $accent-dark

.nav__item--login
  text-transform: none
  font-weight: normal
  padding-left: 48px
  &::before
    +icon(16px, 16px, '../img/login.png', 19px, 16px)

@media ( min-width: $tablet )
  .nav
    margin-top: 0
    
  .nav__inner
    height: 72px
  
  .nav__list
    flex-direction: row
    +margin-auto
    width: 640px

  .nav__item
    +transition-basic
    display: block
    margin-right: 32px
    padding: 22px 0
    background-color: transparent
    border-bottom: none
    &:active
      background-color: transparent
    &:hover
      color: $accent

  .nav__item--active
    border-bottom: 3px solid $accent
    &:hover
      color: $white
    

  .nav__item--visible

  .nav__item--active.nav__item--visible
    color: $white

  .nav__item--login
    margin-right: 0
    color: transparent
    &::before
      +transition-basic
      top: 29px
      left: 0px
    &:hover
      color: transparent
      &::before
        background-image: url('../img/login-hover.png')
  