.nav
  margin-top: 19px

.nav__inner
  position: relative
  background-color: $black

.nav__list
  +reset-list
  display: flex
  flex-direction: column

.nav__link
  +reset-link
  +reset-mobile-active
  position: relative
  display: none
  padding: 11.4px 21.2px 
  padding-right: 0
  color: $white
  text-transform: uppercase
  font-weight: 700
  background-color: $accent
  border-bottom: 1px solid #71543f
  &:active
    background-color: $accent-dark

.nav__link--active
  display: block
  padding-left: 0
  text-align: center
  border-bottom: 1px solid $accent-dark
  background-color: $accent-dark
  &:active
    background-color: $accent

  .nav__link-text
    padding-bottom: 23px

.nav__link--visible
  display: block
  padding: 11.4px 21.2px 
  padding-right: 0
  text-align: left

.nav__link--login
  text-transform: none
  font-weight: normal
  padding-left: 48px
  &::before
    +icon(16px, 16px, '../img/login.png', 19px, 16px)

@media ( min-width: $tablet )
  .nav
    margin-top: 0
    
  .nav__inner
    height: 72px
  
  .nav__list
    +margin-auto
    flex-direction: row
    width: 640px

  .nav__link
    +transition-basic
    display: block
    margin-right: 31.8px
    padding: 22px 0
    background-color: transparent
    border-bottom: none
    &:active
      color: $white !important
      background-color: transparent
      opacity: 0.3
    &:hover
      color: $accent

  .nav__link--active
    &:hover
      color: $white
    &:active
      opacity: 1

    
  .nav__link--active > .nav__link-text
    border-bottom: 3px solid $accent

  .nav__link--visible


  .nav__link--login
    margin-right: 0
    font-size: 0
    color: transparent
    &::before
      +transition-basic
      top: 29px
      left: 0px
    &:hover
      color: transparent
      &::before
        background-image: url('../img/login-hover.png')
    &:active
      &::before
        background-image: url('../img/login.png')
@media ( min-width: $desktop )
  .nav__list
    width: 960px

  .nav__link
    margin-right: 0  
    padding: 22px 31.5px
    &:active
      opacity: 1

    &:hover
      background-color: $white
      color: $black
  
  .nav__link:active .nav__link-text
    opacity: 0.3
    color: $black

  .nav__link--active:active .nav__link-text
    opacity: 1
    color: $white

  .nav__link--login
    position: relative
    margin-left: 77px
    padding-left: 61px
    font-size: inherit
    color: $white
    text-transform: uppercase
    font-weight: 700
    left: 5px
    &::before
      // +transition-basic
      top: 28px
      left: 27px   
    &:hover
      color: $black
      &::before
        background-image: url('../img/login-hover-desktop.png')

  .nav__link--active
    &:hover
      background-color: $black
      color: $white
    &:active
      opacity: 1
      color: $white

  

  