<section class="features">
    <div class="features__inner">
        <div class="">
            <div class="features__item">
                <div class="features__image">
                    <img src="assets/img/1adv.png" alt="adv">
                </div>
                <h3 class="features__title">
                    Быстро
                </h3>
                <p class="features__description">
                    Мы делаем свою работу быстро!<br> Два часа пролетят незаметно<br> и Вы — счастливый обладатель стильной стрижки-минутки
                </p>
            </div>
        </div>
        <div class="">
            <div class="features__item">
                <div class="features__image">
                    <img src="assets/img/2adv.png" alt="adv">
                </div>
                <h3 class="features__title">
                    Круто
                </h3>
                <p class="features__description">
                    Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино. 
                    Во всяком случае внешне.

                </p>
            </div>
        </div>
        <div class="">
            <div class="features__item">
                <div class="features__image">
                    <img src="assets/img/3adv.png" alt="adv">
                    
                </div>
                <h3 class="features__title">
                    Дорого
                </h3>
                <p class="features__description">
                    Наши мастера — профессионалы своего делаи не могут стоить дёшево. К тому же, разве цена не даёт определённый статус?
                </p>
            </div>
        </div>
    </div>
</section>

