<section class="form">
    <div class="form__inner">
        <div class="form__header">
            <div class="form__headline">Наши работы</div>
            <a href="/" class="form__button">На главную</a>
        </div>

        <form class="form__wrapper" action="#" method="post">
            <fieldset class="form__contacts">
                <input class="form__text form__text--surname" type="text" name="surname" id="surname" placeholder="Фамилия">

                <input class="form__text form__text--name" type="text" name="name" id="name" placeholder="Имя">

                <input class="form__text form__text--patronymic" type="text" name="patronymic" id="patronymic" placeholder="Отчество">

                <input class="form__text form__text--tel" type="tel" name="tel" id="tel" placeholder="Контактный телефон">

                <input class="form__text form__text--email" type="email" name="email" id="email" placeholder="Контактный e-mail">

                <textarea class="form__text" name="extra-field" id="extra-field" rows="5" placeholder="Доп. информация для мастера"></textarea>
            </fieldset>

            <fieldset class="form__radio">
                <legend class="form__radio-title">Выберите модель бороды:</legend>
                <ul class="form__radio-buttons">
                    <li class="form__radio-button"><input type="radio" name="form-radio" id="beard-model-1"><label for="beard-model-1" class="form__radio-label">адмирал</label></li>
                    <li class="form__radio-button"><input type="radio" name="form-radio" id="beard-model-2"><label for="beard-model-2" class="form__radio-label">лесоруб</label></li>
                    <li class="form__radio-button"><input type="radio" name="form-radio" id="beard-model-3"><label for="beard-model-3" class="form__radio-label">полярник</label></li>
                    <li class="form__radio-button"><input type="radio" name="form-radio" id="beard-model-4"><label for="beard-model-4" class="form__radio-label">боярин</label></li>
                    <li class="form__radio-button"><input type="radio" name="form-radio" id="beard-model-5"><label for="beard-model-5" class="form__radio-label">мудрец</label></li>
                </ul>
            </fieldset>

            <fieldset class="form__extra">
                <legend class="form__extra-title">Дополнительные услуги:</legend>
                <input type="checkbox" name="" id="to-paint-beard">
                <label for="to-paint-beard" class="form__extra-label">Подкрасить бороду</label>

                <input type="checkbox" name="" id="screw-mustache">
                <label for="screw-mustache" class="form__extra-label">Накрутить усы</label>

                <input type="checkbox" name="" id="combing-beard">
                <label for="combing-beard" class="form__extra-label">Причесать бороду</label>

                <input type="checkbox" name="" id="flatten-hair">
                <label for="flatten-hair" class="form__extra-label">Подровнять виски</label>

                <input type="checkbox" name="" id="remove-gray-hair">
                <label for="remove-gray-hair" class="form__extra-label">Убрать седину</label>

                <input type="checkbox" name="" id="polish-the-bald">
                <label for="polish-the-bald" class="form__extra-label">Отполировать лысину</label>
            </fieldset>

            <button class="form__submit" type="submit">Отправить заявку</button>
        </form>
    </div>
</section>