<header class="header">
    <div class="header__menu">
        <div class="container">
            <a class="header__logo">
                <img class="header__logo-image" src="assets/img/logo-small.png" alt="Барбершоп Бородинский" width="226px" height="30px">
            </a>

            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li><a href="#" class="header__nav-item header__nav-item--active">Главная</a></li>
                    <li><a href="#" class="header__nav-item">Информация</a></li>
                    <li><a href="#" class="header__nav-item">Новости</a></li>
                    <li><a href="#" class="header__nav-item">Прайс-лист</a></li>
                    <li><a href="#" class="header__nav-item">Контакты</a></li>
                    <li><a href="#" class="header__nav-item header__nav-item--login">Вход</a></li>
                </ul>
            </nav>

            
        </div>
    </div>
</header>