<header class="header">

    <a href="#" class="header__logo">
        <img class="header__logo-image" src="assets/img/logo-small.png" alt="Барбершоп Бородинский" width="226px" height="30px">
    </a>

    <div class="header__nav-wrapper">
        
        <nav class="header__nav container">
            <ul class="header__nav-list">
                <li><a class="header__nav-item header__nav-item--active">Главная</a></li>
                <li><a href="#" class="header__nav-item">Информация</a></li>
                <li><a href="#" class="header__nav-item">Новости</a></li>
                <li><a href="#" class="header__nav-item">Прайс-лист</a></li>
                <li><a href="#" class="header__nav-item">Контакты</a></li>
                <li><a href="#" class="header__nav-item header__nav-item--login">Вход</a></li>
            </ul>

            <button class="header__nav-hamburger hamburger hamburger--squeeze" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
            </button>
        </nav>
 
    </div>
    
</header>