<header class="header">

    <a href="#" class="logo">
        <img class="logo__image" src="assets/img/logo-small.png" alt="Барбершоп Бородинский" width="226px" height="30px">
    </a>

    <nav class="nav">
        <div class="nav__inner">

            <ul class="nav__list">
                <li><a class="nav__item nav__item--active">Главная</a></li>
                <li><a href="#" class="nav__item">Информация</a></li>
                <li><a href="#" class="nav__item">Новости</a></li>
                <li><a href="#" class="nav__item">Прайс-лист</a></li>
                <li><a href="#" class="nav__item">Контакты</a></li>
                <li><a href="#" class="nav__item nav__item--login">Вход</a></li>
            </ul>

        
        <!-- plugin -->
        <button class="hamburger hamburger--squeeze" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
        </button>
        <!-- /plugin -->

        </div>
    </nav>
 
</header>