<div class="price">
    <div class="price__inner">
        <h2 class="price__headline">Прейскурант</h2>
    </div>

    <table class="price__table">
        <tbody>
            <tr class="stats__item">
                <td class="price__index">1</td>
                <td class="price__service">Классическая стрижка</td>
                <td class="price__additional">с мытьём головы</td>
                <td class="price__value">1 500 руб.</td>
            </tr>
            <tr class="stats__item">
                <td class="price__index">2</td>
                <td class="price__service">Современный вариант</td>
                <td class="price__additional">с мытьём головы</td>
                <td class="price__value">1 500 руб.</td>
            </tr>
            <tr class="stats__item">
                <td class="price__index">3</td>
                <td class="price__service">Индивидуальный подход</td>
                <td class="price__additional">с мытьём головы</td>
                <td class="price__value">2 000 руб.</td>
            </tr>
            <tr class="stats__item">
                <td class="price__index">4</td>
                <td class="price__service">Бритьё бороды</td>
                <td class="price__additional">без мытья</td>
                <td class="price__value">500 руб.</td>
            </tr>
            <tr class="stats__item">
                <td class="price__index">5</td>
                <td class="price__service">Бритьё головы</td>
                <td class="price__additional">с мытьём головы</td>
                <td class="price__value">1 000 руб.</td>
            </tr>
        </tbody>
    </table>

    <div class="price__time">
        <div class="price__image"></div>
        <div class="price__text"></div>
    </div>
</div>