<section class="reviews">
    <div class="reviews__inner">
        <h2 class="reviews__title">Отзывы о нас</h2>
        
        <div class="reviews__slider">
            <div class="">
                <div class="reviews__item">
                    <img src="assets/img/slider-img.png" alt="" class="reviews__image">
                    <p class="reviews__author">Трэвис Баркер</p>
                    <p class="reviews__text">
                        Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
                    </p>
                </div>
            </div>

            <div class="">
                <div class="reviews__item">
                    <img src="assets/img/slider-img.png" alt="" class="reviews__image">
                    <p class="reviews__author">Трэвис Баркер</p>
                    <p class="reviews__text">
                        Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
                    </p>
                </div>
            </div>

            <div class="">
                <div class="reviews__item">
                    <img src="assets/img/slider-img.png" alt="" class="reviews__image">
                    <p class="reviews__author">Трэвис Баркер</p>
                    <p class="reviews__text">
                        Спасибо за лысину! Был проездом в Москве, заскочил побриться, чтобы было видно новую татуировку!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>